body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #333333;

  background-color: #f2f2f2;

  box-shadow: 0 0 35px -10px gray;

  counter-reset: resons;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #81b3d2;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-header {
  background-color: #ffffff;
  width: 1200px;
  position: relative;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  min-height: 70px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;

}

.site-navigation li {
  width: 239px;
  padding-top: 14px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.site-navigation li:nth-child(4n + 3) {
  margin-left: 244px;
}

.site-navigation a {
  display: inline-block;
  font-weight: bold;
  line-height: 26px;

  margin: 0 auto;
}

.site-navigation li:nth-child(3) a {
  letter-spacing: 0.4px;
}

.site-navigation-active a {
  color: #766357;

}

.site-navigation-left {
  text-align: center;
}

.site-navigation-right {
  text-align: center;
}

.site-navigation-right a {
  margin-left: 10px;
}

.container {
  display: block;
  text-align: center;
  margin-top: 511px;
  background-color: #ffffff;
}

.container::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  width: 1200px;
  height: 780px;
  background: #ffffff url("../img/intro.jpg") no-repeat 0% 0%;
  z-index: -1;
}

.hotels-container {
  display: block;
}


.container-header {
  display: flex;
  flex-direction: column;

  margin-bottom: 39px;
}

.container-header h1 {
  display: block;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.1px;

  color: #000000;
  width: 470px;
  align-self: center;
  margin-top: 57px;
  margin-bottom: 16px;
  padding: 0 0px;
}

.container-header p {
  letter-spacing: 0.08px;
}

.reason-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  background-color: #81b3d2;
}

.reason-item {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.reason-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 256px;
  padding: 0;
  margin: 0;
}

.reason-header {
  box-sizing: border-box;
  width: 400px;

  display: flex;
  flex-direction: column;
  padding-top: 30px;
  position: relative;
}

.reason-header::before {
  counter-increment: resons;
  content: "— №" counter(resons) " —";

  position: absolute;
  top: 113px;
  left: 174px;

  color: #ffffff;
}

.reason-sight .reason-header {
  order: 2;
}

.reason-header h2 {
  font-size: 21px;
  color: #ffffff;
  line-height: 21px;
  letter-spacing: 0.2px;

  background-color: #81b3d2;
  margin-bottom: 52px;
  padding: 0px 100px;
}

.reason-header p {
  display: block;
  color: #ffffff;
  text-align: justify;
  text-align-last: center;
  padding: 0 60px;
}

.reason-item:nth-child(2) p {
  padding: 0 48px;
}

.reason-foto {
  min-height: 256px;
  margin: 0;
  padding: 0;
}

.reason-foto-img {
  height: 256px;
}

.reason-details {
  list-style: none;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 330px;
}

.reason-detail {
  width: 400px;

  padding: 0 55px;
  box-sizing: border-box;
}

.reason-detail h3 {
  font-size: 21px;
  color: #000000;
  line-height: 21px;
  background-color: #ffffff;
  margin-top: 160px;
  margin-bottom: 25px;
}

.reason-detail-hotels {
  background: #ffffff url("../img/icon-1.svg") no-repeat 50% 23%;
}

.reason-detail-food {
  background: #ffffff url("../img/icon-3.svg") no-repeat 50% 23%;
}

.reason-detail-things {
  background: #ffffff url("../img/icon-2.svg") no-repeat 50% 22%;
}

.reason-minors {
  list-style: none;
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
  background-color: #f2f2f2;
}

.reason-minor {
  width: 400px;
  padding: 30px 60px;
  position: relative;
  box-sizing: border-box;
}

.reason-minor h2 {
  display: block;
  padding: 0 70px;
  font-size: 21px;
  color: #000000;
  line-height: 21px;
  letter-spacing: 0.2px;
  background-color: #f2f2f2;
  margin-bottom: 66px;
}



.reason-minor p {
  color: #333333;
  letter-spacing: 0.1px;
}

.reason-minor:last-child p {
  padding: 0px 15px;
}

.reason-minor::before {
  counter-increment: resons;
  content: "— №" counter(resons) " —";

  position: absolute;
  top: 113px;
  left: 174px;
}

.interest {
  background-color: #ffffff;
  min-height: 763px;
  width: 100%;
  position: relative;
}

.town-map {
  position: absolute;
  top: 86px;
  z-index: 1;
}

.town-map img {
  display: block;
}

.town-map iframe {
  display: none;
  border: 0;
}

.interest-wrapper {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interest-header {
  margin: auto auto;
  padding: 0 350px;
  min-height: 205px;

  flex-grow: 1;
  z-index: 3;
  background: #ffffff;
  position: relative;
}

.interest-header h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  line-height: 36px;
  letter-spacing: 0.2px;

  margin-top: 50px;
  margin-bottom: 24px;

}

.interest-header p {
  padding: 0 30px;
  line-height: 24px;
  letter-spacing: 0px;
}

.search-form {
  margin: 0 auto;
  align-self: center;
  height: 559px;
  width: 100%;

  position: relative;
}

.search-form-button {
  position: relative;
  display: block;
  width: 568px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;

  margin: auto auto 0 auto;
  padding: 30px 0;
  z-index: 3;
}

.search-form-button:hover {
  background-color: #604e43;
  color: #ffffff;
}

.search-form-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

@keyframes bounce-in {
  0% {
    transform: translateY(-568px);
    z-index: -1;
  }

  100% {
    transform: translateY(0);
    z-index: 2;
  }
}

@keyframes bounce-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-568px);
    z-index: -1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.search-modal {
  position: absolute;
  display: none;
  width: 568px;
  min-height: 395px;
  background-color: #ffffff;
  box-shadow: 0 0 30px -10px gray;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.search-modal-show {
  display: block;
  animation: bounce-in 1s;
}

.search-modal-close {
  display: block;
  animation-direction: reverse;
  animation: bounce-out 1s;
  animation-fill-mode: forwards;
}

.search-modal-error {
  animation: shake 0.6s;
}

.search label {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 55px 55px 50px 55px;
  position: relative;
}

.search-input-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.search-input-line label {
  letter-spacing: 0.5px;
}


.search input[type="text"] {
  font-size: 14px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;

  padding: 0;
  height: 38px;
  width: 345px;
  align-self: center;
}

.search-input-line {
  position: relative;
}

.search-input-line-date {
  position: relative;
}

.search-input-line-calendar {
  position: absolute;
  right: 9px;
  top: 7px;

  opacity: 0.4;
}

.search-input-line-date input[type="text"]::placeholder {
  color: #000000;
}

.search-input-line-date:hover .search-input-line-calendar {
  opacity: 1;
}

.search-input-line-date:active .search-input-line-calendar path {
  fill: #81b3d2;
}

.search-input-line-date input[type="text"] {
  padding-left: 11px;
  text-transform: uppercase;
}

.search-input-line-persons {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -8px;
  margin-left: -2px;
}

.search-input-line-persons:first-child .minus {
  margin-left: 38px;
}

.search-input-line-persons:last-child .minus {
  margin-left: 25px;
}

.search-input-line-persons-button {
  position: relative;
  top: -8px;

  margin: 0;
  padding: 0;
  border: none;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  /* margin-top: -10px; */
  outline: none;
}

.search-input-line-persons-button:focus
.search-input-line-persons-button:active {
  background-color: #f2f2f2;
}

.search-input-line-persons input[type="text"] {
  display: block;

  width: 38px;
  text-align: center;
  margin-top: 0px;
}

.search-input-line-persons .minus::before {
  content: "";

  position: absolute;
  right: 13px;
  top: 18px;

  width: 11px;
  height: 3px;
  background: black;
  opacity: 0.4;
}

.search-input-line-persons .plus::before {
  content: "";

  position: absolute;
  right: 14px;
  top: 18px;

  width: 11px;
  height: 3px;
  background: black;
  opacity: 0.4;
}

.search-input-line-persons .plus::after {
  content: "";

  position: absolute;
  right: 18px;
  top: 14px;

  width: 3px;
  height: 11px;
  background-color: black;
  opacity: 0.4;

}

.search-input-line-persons .minus:hover::before,
.search-input-line-persons .plus:hover::before,
.search-input-line-persons .plus:hover::after {
  opacity: 1;
}

.search-input-line-persons .minus:active::before,
.search-input-line-persons .plus:active::before,
.search-input-line-persons .plus:active::after {
  opacity: 1;
  background-color: #81b3d2;
  outline: none;
}

.search input[type="text"]:hover {
  background-color: #ebebeb;
}

.search input[type="text"]:focus {
  background-color: #ffffff;
  outline: none;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.search button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  display: block;
  padding: 16px 0;
  margin-top: 16px;
  text-transform: uppercase;
}

.main-footer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 36px 0;

  height: 120px;
  box-sizing: border-box;
  z-index: 3;
}


.main-footer-hotels {
  top: 0;
}

.footer-slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  flex: 0 0 400px;
  text-align: center;
}

.footer-socials {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: center;
  margin: 0 auto;

  flex: 0 0 400px;
  text-align: center;
}

.footer-socials li {
  margin: 0 3px;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  opacity: 0.3;
}

.footer-copyright {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 400px;
  text-align: center;
}

.footer-copyright a {
  display: block;
  margin-top: 6px;
  margin-right: 1px;
}

.footer-copyright span {
  margin-right: 5px;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

.filter {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;


  min-height: 218px;
  padding: 0 70px;

  background: #647483 url("../img/filter-background.jpg") no-repeat 50% 50%;
  overflow: hidden;
}

.filter-form {
  display: flex;
  flex-direction: row;
  padding-top: 27px;
}


.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;

  margin-right: 115px;
  margin-bottom: 20px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  letter-spacing: 0.3px;

  color: #ffffff;
}

.filter-option {
  margin-top: 25px;
  padding-left: 41px;
}

.filter-option label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

}

.filter-option-checkbox:focus+label {
  outline: 1px dashed #ffffff;
}

.filter-option-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -1px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option-checkbox:disabled + label::before {
  opacity: 0.4;
}

.filter-range {
  width: 318px;
  margin-left: auto;
  margin-right: 2px;

}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;

  display: flex;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: block;

  font-size: 14px;
  line-height: 21px;

  text-align: center;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 55px;
  padding-top: 5px;
}

.price-controls .max-price {
  margin-left: 2px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls input::placeholder {
  color: #ffffff;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow:
    0 0 0 1px #ffffff,
    0 2px 1px 5px rgba(0, 1, 1, 0.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 85px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  background-color: #ffffff;
  color: #000000;
}

.filter-button {
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px #ffffff;
}

.filter-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.sorting {
  font-size: 12px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  padding: 31px 70px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting .sorting-founded {
  font-size: 21px;
  font-weight: bold;
  color: #000000;

}

.sorting-type {
  position: inherit;
  margin-left: 50px;

  display: flex;
}

.sorting-type span {
  margin-right: 40px;
}

.sorting-type a {
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  background: #ffffff;
  text-decoration-line: underline;
  text-decoration-style: dotted;

  margin-right: 30px;
}

.sorting-type .selected {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-type a:hover {
  color: #81b3d2;
  background: #ffffff;
}

.sorting-type a:active {
  color: #000000;
  background: #ffffff;
}

.sorting-direction {
  margin-left:  auto;
}

.sorting-direction a {
  display: inline-block;
  margin-left: 8px;
}

.sorting-direction-button path {
  fill: #cacaca;
}

.sorting-direction-button:hover path {
  fill: black;
}

.sorting-direction-button-selected path,
.sorting-direction-button:active path {
  fill: #81b3d2;
}

.hotels{
  background: #ffffff;
}

.hotels table {
  width: 100%;
  border-collapse: collapse;

}

.hotels tr {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  border-bottom: 1px solid #e5e5e5;
  align-content: flex-start;
  min-height: 151px;
  padding: 29px 72px;
  box-sizing: border-box;
  margin: 0;
}

.hotels td {
  display: block;
}

.hotels a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  padding: 3px 16px;
}

.hotel-foto {
  order: -1;
  height: 26px;
  width: 135px;
  overflow: visible;

  margin: 0;
  padding: 0;
}


.hotel-name {
  min-width: 62%;
  max-width: 69%;
  margin: -6px auto 4px 30px;
}

.hotel-name a {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.4px;
  line-height: 27px;

  padding: 0;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-stars {
  max-width: 120px;
  margin-left: 50px;
  font-size: 0;
}

.stars {
  display: inline-block;
  width: 18px;
  height: 16px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.stars-2 {
  width: 39px;
}

.stars-3 {
  width: 63px;
}

.stars-4 {
  width: 87px;
}

.stars-5 {
  width: 111px;
}

.hotel-type,
.hotel-price {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}

.hotel-type {
  margin-left: 165px;
  margin-bottom: 10px;
  position: relative;
  width: 115px;
  margin-right: -2px;
}



.hotel-price {
  position: relative;
}

.hotel-type a,
.hotel-price a {
  display: block;
  position: absolute;
  top: 36px;
  left: 0px;

  letter-spacing: 0.2px;
}

.hotel-rating {
  position: relative;
  top: 36px;

  margin-left: auto;

  padding: 3px 12px 3px 15px;
  background-color: #f2f2f2;
  height: 21px;
}

.hotel-rating span {
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  line-height: 21px;
  letter-spacing: 0px;
}

.hotel-rating span::before {
  content: "Рейтинг: "
}

.hotel-type-detail-button {
  font-size: 14px;
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-type-detail-button:hover {
  font-size: 14px;
  color: #ffffff;
  background-color: #669ec0;
}

.hotel-type-detail-button:active {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-type-booking-button {
  font-size: 14px;
  color: #ffffff;
  background-color: #766357;
}

.hotel-type-booking-button:hover {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-type-booking-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button:focus,
.search-form-button:focus,
.search-input-line-persons-button:focus,
.social-button:focus,
.filter-button:focus,
.sorting-direction-button:focus svg {
  outline: 1px dashed #81b3d2;
}
